<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>iphone</string>
		<key>cost</key>
		<integer>500</integer>
		<key>availableNumber</key>
		<integer>1</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<false/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>mac</string>
		<key>cost</key>
		<integer>1500</integer>
		<key>availableNumber</key>
		<integer>1</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<false/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>jacket </string>
		<key>cost</key>
		<integer>25</integer>
		<key>availableNumber</key>
		<integer>1</integer>
		<key>manufacturer</key>
		<string>Turkey</string>
		<key>hasDiscount</key>
		<true/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>pants</string>
		<key>cost</key>
		<integer>200</integer>
		<key>availableNumber</key>
		<integer>25</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<true/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>book</string>
		<key>cost</key>
		<integer>25</integer>
		<key>availableNumber</key>
		<integer>100</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<true/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>headset</string>
		<key>cost</key>
		<integer>50</integer>
		<key>availableNumber</key>
		<integer>5</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<true/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>guitar</string>
		<key>cost</key>
		<integer>500</integer>
		<key>availableNumber</key>
		<integer>3</integer>
		<key>manufacturer</key>
		<string>USA</string>
		<key>hasDiscount</key>
		<false/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>car</string>
		<key>cost</key>
		<integer>20000</integer>
		<key>availableNumber</key>
		<integer>1</integer>
		<key>manufacturer</key>
		<string>Germany</string>
		<key>hasDiscount</key>
		<false/>
		<key>date</key>
		<date>2017-03-28T16:02:52Z</date>
	</dict>
</array>
</plist>
